@font-face {
    font-family: orbitron-regular;
    src: url(../fonts/Orbitron/Orbitron-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #57B8FF;
    --secondary-color: #FAC422;
    --text-color: rgba(223, 223, 223, 0.80);
    --second-text-color: #141820;
}

.language {
    position: fixed;
    padding: 15px;
    top: 25.5px;
    right: 30px;
    font-family: orbitron-regular;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    z-index: 1;
}

.language:hover {
    background-color: var(--secondary-color);
}

/* HEADER STRAT */

header {
    /* background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, #57B8FF 50%); */
    background-color: #000;
    position: fixed;
    right: 0;
    left: 0;
}

.navigator {
    height: 62px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-row {
    display: flex;
    gap: 60px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #FFF;
    font-family: orbitron-regular;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    transition: 0.5s;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.nav-right button {
    border: none;
    background-color: transparent;
    margin-left: 92px;
}

.light header {
    background-color: var(--primary-color);
}

.light * {
    /* background-image: linear-gradient(#57B8FF 100%) !important; */
    color: black !important;
}

.nav-right a {
    color: #FFF;
    border: 1px solid white;
    font-family: orbitron-regular;
    font-size: 14px;
    padding: 16px 32px;
    margin-left: 24px;
    transition: 0.5s;
}

.nav-right a:hover {
    background-color: var(--secondary-color);
}

/* HEADER END */

/* HOME SECTION START */

.light #home {
    background-color: var(--primary-color);
}

.light .home-btn button:hover {
    background-color: var(--secondary-color);
}

#home {
    background-color: #141820;
    padding-top: 222px;
}

.hero {
    display: flex;
}

.light {
    background-color: var(--primary-color);
}

.fire-icon {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    gap: 8px;
}

.fire-icon h4 {
    color: var(--primary-color);
    font-family: orbitron-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.home-left h1 {
    width: 656px;
    color: #FFF;
    font-family: orbitron-regular;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 86px;
    text-transform: capitalize;
    padding-bottom: 45px;
}

.home-left p {
    width: 615px;
    color: #999;
    font-family: orbitron-regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 74px;
}

.home-btn {
    padding-bottom: 271px;
}

.home-btn button {
    width: 203px;
    height: 70px;
    color: #FFF;
    font-family: orbitron-regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    background-color: transparent;
    border: none;
}

.home-btn button:hover {
    border: 1px solid none;
    background-color: var(--primary-color);
}

/* HOME SECTION END */

/* ONE STOP SECTION START */

#one-stop {
    /* width: 1440px; */
    height: 1072px;
    background-image: url(../images/one-stop-bacground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fire-one-stop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 136px;
    margin-bottom: 22px;
    gap: 8px;
}

.fire-one-stop h4 {
    color: #57B8FF;
    font-family: orbitron-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.one-stop-text {
    text-align: center;
}

.one-stop-text h1 {
    color: #FFF;
    text-align: center;
    font-family: orbitron-regular;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    text-transform: capitalize;
    margin-bottom: 39px;
}

.one-stop-text p {
    color: rgba(223, 223, 223, 0.80);
    text-align: center;
    font-family: orbitron-regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.one-stop-box {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 60.58px;
}

.one-stop-card {
    width: 642px;
    height: 212px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
}

.card-img {
    display: flex;
    padding-left: 38.37px;
    padding-top: 35px;
    gap: 17px;
}

.card-img h3 {
    color: #FFF;
    font-family: orbitron-regular;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    text-transform: capitalize;
}

.one-stop-card p {
    color: rgba(223, 223, 223, 0.80);
    font-family: orbitron-regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 87.71px;
    padding-top: 19px;
}


/* ONE STOP SECTION END */

/* NEW ERA SECTION START */

.light #new-era {
    background-color: var(--primary-color);
}

#new-era {
    background-color: #141820;
    padding-top: 86px;
}

.fire-new-era {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fire-new-era h4 {
    color: #57B8FF;
    font-family: orbitron-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.new-era-left h1 {
    width: 684px;
    color: #FFF;
    font-family: orbitron-regular;
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
    text-transform: capitalize;
    padding-top: 20px;
}

.new-era-left p {
    width: 721px;
    color: rgba(223, 223, 223, 0.80);
    font-family: orbitron-regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 38px;
}

.new-era-left button {
    width: 203px;
    height: 70px;
    color: #FFF;
    font-family: orbitron-regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    background-color: transparent;
    border: none;
    margin-top: 54px;
    margin-bottom: 123.81px;
}

.new-era-left button:hover {
    background-color: var(--primary-color);
}

.light .new-era-left button:hover {
    background-color: var(--secondary-color);
}

.right-left {
    display: flex;
}

/* NEW ERA SECTION END */

/* LATEST SECTION START */

#latest {
    background-color: #141820;
}

.light #latest {
    background-color: var(--primary-color);
}

.fire-latest {
    display: flex;
    align-items: center;
    padding-top: 81px;
    padding-bottom: 22px;
}

.fire-latest h4 {
    color: #57B8FF;
    font-family: orbitron-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.latest-text h1 {
    color: #FFF;
    font-family: orbitron-regular;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    text-transform: capitalize;
}

.latest-btn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 68px;
}

.latest-btn button {
    width: 175px;
    height: 70px;
    color: #FFF;
    font-family: orbitron-regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    background-color: transparent;
    border: none;
}

.latest-btn button:hover {
    background-color: var(--primary-color);
}

.light .latest-btn button:hover {
    background-color: var(--secondary-color);
}

.latest-left h4 {
    color: #57B8FF;
    font-family: orbitron-regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 54px;
}

.latest-left h2 {
    width: 607px;
    color: #FFF;
    font-family: orbitron-regular;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    text-transform: capitalize;
    padding-top: 28px;
}

.big-box {
    display: flex;
    gap: 24px;
    padding-bottom: 86.61px;
}

.latest-right {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card-latest-right {
    width: 312px;
    height: 321px;
}

.card-latest-right h4 {
    color: #57B8FF;
    font-family: orbitron-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 30px;
}

.card-latest-right h3 {
    color: #FFF;
    font-family: orbitron-regular;
    font-size: 23px;
    font-weight: 400;
    line-height: 34px;
    text-transform: capitalize;
    padding-top: 20px;
}


/* LATEST SECTION END */